﻿
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div style="font-size: 40px;font-weight:bold;text-align:center;font-family:sans-serif">Enabling disruptive companies to <span style="color:lawngreen">innovate faster</span></div>
<div style="padding:20px;font-family:sans-serif">
    <p>Empowered by rapidly evolving technology, software today are able to solve real-world problems and enable new ways to make human lives better. From ordering a taxi to transferring money with few finger gestures or voice commands, technology has led to new realities that were not possible before.</p>
    <br />
    <p>Our team believes in taking a radically different approach to software development by solving problems at the technology level, rather than mis-utilizing the scarce engineering talent to solve the same problem repeatedly across the solution, so they can focus on delivering more value to the customer.</p>
    <br />
    <p>Combining our experience of building 100+ software solutions for our customers following the traditional methodologies and developing our products using decoupled software components to reduce redundant code, we are in a unique position to take the unconventional approach to software development – that led to the birth of Unthinkable.</p>
</div>
@Html.Partial("_Partial")