﻿
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h1 style="text-align:center; font-size: 40px;">Why <span style="color:lawngreen;"> Unthinkable?</span></h1>
<div style="display: flex; width: 100%;grid-gap:20px; padding: 20px; box-sizing:border-box;">
    <div style="flex:1;">
        Unthinkable is a custom software development company specializing in designing, developing and scaling, beautiful products with high-speed efficiency. We can turn your ideas into innovative software applications faster and drive rapid business growth. Our proactive, professional, and cost-effective software development service delivery has included us amongst the best in the business.
        <br /><br />
        We believe in taking a radically different approach to software development. By solving problems at the technology level, we eliminate the misuse of scarce engineering talent to solve the same problem repeatedly across the solution, ultimately freeing them to deliver more value to the customers.
    </div>
    @Html.Partial("_Partial")
    <div style="flex:1;">
        Unthinkable houses a team of 200+ developers catering to all the facets of software development. Be it Startups or Enterprises, SMEs or Governments, Product Companies or Digital Agencies, we cater to all of their diverse technology requirements. We build software solutions abiding by the traditional methodologies and develop products using decoupled software components to reduce redundant codes.
        <br /><br />
        Our domain knowledge, technology expertise, and the use of proven methodologies have yielded high-quality solutions that add value to your business. This has also allowed us to serve over 100 customers with a faster time to market. Our experience puts us in a position where we can take an unconventional approach to software development. This idea also led to the birth of the "Unthinkable".
    </div>
</div>