﻿@*@{
        Layout = "~/Views/Shared/_LayoutNew.cshtml";
    }*@

<div style="margin:40px 0;display: flex; width: 100%; justify-content:center; flex-direction:column; align-items: center">

    @Html.Partial("_Partial")
    <h1>Welcome to</h1>
    <img src="~/images/Unthinkable_logo.png" alt="Alternate Text" style="width: 500px;" />
    <div style="text-align:center; font-size: 20px; font-family:sans-serif; margin: 40px 0;">Use navbar to navigate to other pages.</div>
</div>
 