﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutNew</title>
</head>
<body style="margin:0">
    <header style="display: flex; align-items:center;height:80px;margin-top:0px; padding-left:20px; background-color:black">
        <img src="~/images/Unthinkable_logo.png" />
        <div style="margin-left: auto;display:flex;padding-right:20px;width:30%;justify-content:space-between;align-items:center;color:#fff;">
        <a style="color:inherit;text-decoration:none" href="/Home">Home</a>
        <a style="color:inherit;text-decoration:none" href="/Employees">About Us</a>
        <a style="color: inherit;text-decoration:none;" href="/NewEmployee">Why Unthinkable?</a>
        </div>
    </header>

    <div style="margin: 50px 0;">
        @RenderBody()
    </div>

    <footer style="height:150px; background-color:black; display: flex; flex-direction:column;justify-content:center; align-items: center; color:#fff;">
        <div style="display:flex;">
            <a style="color:inherit; text-decoration:none;margin-right:5px;" href="#contact">Contact Us</a>
            <a style="color:inherit; text-decoration:none;margin-left:5px;" href="#About">About Us</a>
        </div>
        <p>&copy; Copyright | All rights reserved - Daffodil</p>
    </footer>
</body>
</html>
